* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-body, #test-body, #results-body {
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: monospace;
    text-align: center;
}

#header-1, #results-title {
    font-size: 3rem;
}

#start-sentence {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
}

#start-button, #next-question, #score {
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(247, 37, 0);
    border: none;
    border-radius: 5px;
    height: auto;
    width: auto;
    transition: background-color 200ms;
    text-decoration: none;
}

#next-question {
    top: auto;
    bottom: 10px;
    left: auto;
    right: 10px;
    transform: scale(0.7);
}

#start-button:hover, #next-question:hover, #score:hover {
    background-color: rgb(137, 23, 2);
}

#start-button:active, #next-question:active, #score:active {
    background-color: rgb(78, 12, 0);;
}

#score {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(49, 49, 49);
    font-size: 2vw;
}

#question-text {
    display: block;
    margin-top: 50px;
    font-size: 2em;
}

.answer {
    cursor: pointer;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 10px;
    font-size: 2vw;
}

.answer:hover {
    background-color: rgb(41, 41, 41);
}